<div class="container container-fluid">
    <!--<h2> Diagnosis page </h2>-->
    <body ng-app="myapp" ng-controller="DiagnosisController">
        <h1>Hello Spinner!</h1>
        <input type="button" ng-click="startSpin()" value="Start spinner" />
        <input type="button" ng-click="stopSpin()" value="Stop spinner" />
        <br />Spinner active: {{spinneractive}}<br />Started: {{startcounter}} times<br />
        <span us-spinner="{radius:200, width:10, length: 2, lines: 75, speed: 1/4, color: 'red', opacity: 1/15, trail: 0, corners:100, }
            " spinner-key="spinner-1"></span>
    </body>
</div>