<ion-view view-title="Home Page">
    <!--<header id="intro" style="opacity: 0.8;height: 990px">-->
    <!--<div class="table">-->
    <!--<div class="header-text">-->
    <!--<div class="row">-->
    <!--<div class="col-md-12 text-center">-->
    <ion-content class="padding">
        <h1> Cognito </h1>
        <h4>Real-time TBI diagnostics</h4>
        <a ui-sref="questions">
            <button class="button button-positive">
                Diagnose Now
            </button>
        </a>
    </ion-content>
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</header>-->
</ion-view>
