<!--<div clas="header row text-center">-->
<!--<div class="container" ng-show="inProgress">-->
<ion-view view-title="Questionnaire" hide-back-button="true">
    <!--<div class="container">-->
    <!--<div class="row text-center margin-top">-->
    <ion-content class="padding">
        <div ng-show="!inProgress">
            <h2 align="center">A few questions...</h2>
            <button class="button button-block  button-positive" ng-click="startQuiz()">Start Quiz</button>
        </div>
        <div ng-show="inProgress">
            <div ng-show="!quizOver">
                <h4 align="center" id="question">{{question}}</h4>
                <ion-list>
                    <ion-radio ng-repeat="option in options" ng-model="$parent.chosenAnswer" id="{{option}}"
                               name="answer"
                               ng-value="option">
                        {{option}}
                    </ion-radio>
                </ion-list>
                <button class="button button-block button-positive"
                        ng-click="checkAnswer(chosenAnswer)">Submit
                </button>
            </div>

            <div ng-show="quizOver">
                <h4 align="center">{{result}}</h4>
                <h5 align="center">Please hold device one foot from face</h5>
                <div align="center">
                    <img src="./img/instructionpic.jpg"><br>
                </div>
                <button class="button button-block button-positive" ng-click="redirect()">
                    Take the eye test.
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
<!--</div>-->
<!--</div>-->
