<ion-view view-title="Diagnostic Eye Test" hide-back-button="true">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="redirect()">
            Home
        </button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="row">
            <div class="col">
                <div class="col">
                    <button class="button button-block button-positive" ng-click="diagnose()">
                        Start Diagnosis
                    </button>
                    <div class="spinnerPos" us-spinner="{radius:{{spinnerRadius}}, width:8, length: 2, lines: 50, speed: .3,
                         color: 'blue', opacity: 1/10, trail: 5, corners:100}"
                         spinner-key="spinner-1" ng-style="margin">
                    </div>

                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
